llama_index
transformers
torch
accelerate
mlx-lm
chromadb
openai
ollama
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-chroma
llama-index-llms-openai
pyaudio
langchain_chroma
langchain
langchain_community
langchain_openai
langchain_core
sentence-transformers
langchain_openai
python-dotenv
scrapy
selenium
SpeechRecognition
